### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Env vars ###
.env

### Mac OS ###
.DS_Store

### Python ###
.venv

# Compiled class file
target/
*.class

# Ignore Maven Flatten Plugin
.flattened-pom.xml
dependency-reduced-pom.xml
